:root {
	--black: #000000;
	--white: #ffffff;
	--darker-white: #e6e3e3;
	--gray: #262e2c;
	--dark-green: #29463e;
	--darker-green: #181f1c31;
	--light-green: #687773;
	--green: #4ee48c;
	--red: #eb5555;
}
